.logo{
    padding-top: 20px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 2.5px grey;
}

label{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: ivory;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
    transition: background-size 1s, color 2s;
    margin-bottom: 5px;
}

figure {
    margin: 0;
    padding: 0;
}

footer{
    margin: 0;
    padding: 0;
}

figcaption{
    margin: 0;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    visibility: hidden;
}

label:hover{
    background-size: 100% .1em;
    color: grey;
}

ul{
    margin: 0;
    padding: 0;
}

.social{
    position: absolute;
    right: -5%;
    width: 300px;
}

#social2 > li{
    display: inline;
    list-style: none;
}

.sociall{
    width: 30%;
    height: 30%;
}

#image_1{
    width: 100%;
    height: auto;
}



